*{margin: 0;padding: 0;box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration:none;}
input{font: inherit;}
html{
    height: 100%;
}
body{
    font-size: 16px;
    height: 100%;
}
.icon {
    width: 2em; height: 2em;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden;
    margin: 0 5px;
 }
/* layout */

.page{
    height: 100%;
    display:flex;
    flex-direction: column;
}


header.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D43C33;
    padding: 17px 10px;
  }
header.topbar .logo>svg{
    width: 142px;height: 25px;
    vertical-align: top;

}


main{
    display: flex;
    height:558px;
}
main>aside{
    width: 18%;
    display: flex;
    flex-direction: column;
    
}

/* newSong */



/* song-list */

.songList-container{
    flex-grow: 1;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
.songList-container{
    
}
.songList>li{
    position: relative;
    border-bottom: 1px solid #E2E2E3;
    display: flex;
    align-items: center;
}

.songList>li:before{
    content: '';
    display: block;
    height: 40px;
    width: 4px;
    border-radius: 3px;
    background-color: transparent;
    flex-shrink: 0;
}
.songList>li.active:before{
    background-color:#D43C33;
}
.songList>li>.icon-cd{
    flex-shrink: 0;
}
.songList>li>.song-container{
    overflow: hidden;
}
.songList>li>.song-container>h3{
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
}
.songList>li>.song-container>p{
    font-size: 12px;
    color: #888;
}

.songList > li.active{
    background: #d4d4d4;
}


/* upload */

.uploadArea{
    border-top:1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}
.uploadArea .uploadButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadButton>.icon.addSong{
    width: 1em; height: 1em;
}
.uploadButton>p{
    font-size: 16px;
    line-height: 16px;
}
/* songform */

.right-section{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editArea>h1{
    padding-bottom: 30px;
    margin-left: 2em;
}
.editArea>.form>.row{
    padding-bottom:20px;
}

.row{
    display: flex;
}
.form>.row>label{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 4em;
}
.form > .row.actions{
    margin-left: 4em ;
  }
.form input[type=text]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
  }


/* loading */
.site-loading{
    visibility: hidden;
    background: rgba(0,0,0,0.2);
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.site-loading.active{
    visibility: visible;
  }
.site-loading::after{
    content:'';
    display:block;
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -50px;
    margin-left: -50xp;
    border-radius: 50px;
    animation: loading 1s linear  infinite alternate-reverse;
}

@keyframes loading{
    0% {
      transform: scale(1.0);
    }
    100% {
      transform: scale(0.1);
    }
  }


