*{margin: 0;padding: 0;box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration:none;}
input{font: inherit;}

body{
    font-size: 16px;
    height: 100vh;
}

/* layout */
.page{
    display: flex;
    height: 100vh;
}
.page>aside{
   width:200px; /*固定左半部分宽度*/
   display: flex;
   flex-direction: column;
}
.page>main{
    flex-grow: 1; /*占满剩余部分*/
    background-color: #d4d4d4;
}
.newSong{
    text-align: center;
    padding: 10px;
}
.newSong.active{
    background:  #d4d4d4;
}
.songList-container{
    flex-grow: 1;
}
.songList{
    border-top: 1px solid #ddd;

}
.songList>li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.songList>li.active{
    background: #d4d4d4;
}
.uploadArea>.draggable {
    text-align: center;
    padding: 20px;
    border: 2px dashed #ddd;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.uploadArea>.draggable>.clickable{
    cursor: pointer;
}
/* main */
.form{
    font-size: 14px;
}
.form>.row{
    margin:20px 0;
    display: flex;
}
.form>.row>label{
    width: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
.form>.row.actions{
    margin-left: calc(4em + 5px);
}
.form input[type=text]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
}
.form input[type=button],
.form input[type=submit],
.form button{
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.page > main {
    padding-top: 20px;
    display: flex;
  }
