ul,ol{list-style:none;}
*{box-sizing: border-box;margin: 0;padding: 0;}
*::after,*::before{box-sizing: border-box}
a{text-decoration: none;color: inherit;}
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.4em;
  fill: currentColor;
  overflow: hidden;
}
div.sticky{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}
.sticky>header{
  display: flex;
  background: #d43c33;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.sticky>header>div.topsvg{
  width: 142px;
  height: 45px;
  padding: 10px 0;
}

.sticky>header>a{
  width: 100px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: #d43c33;
  display: inline-block;
  border-radius: 30%/100%;
  background:white;
}
.tabs-nav{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  background: white;
  text-align: center;
}
.tabs-nav>li{
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tabs-nav>li>.tabtext{
  line-height: 40px;
  border-bottom:2px solid transparent;
  padding: 8px 5px;
}
.tabs-nav>li.active>.tabtext{
  border-bottom:2px solid #d43c33;
}
/* .sticky>nav.menu>ul>li.active .tabtext{
  position: relative;
} */
/* .sticky>nav.menu>ul>li.active .tabtext::after{
  content:'';
  display: block;
  position: absolute;
  bottom:0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #d43c33;
  transform: scaleX(1.1)
} */


.remd_title-1,.remd_title-2{
  border-left:2px solid #d43c33;
  padding:  0 5px;
  margin: 20px 0 20px;
  font-size: 18px;
  font-weight: normal;
}
.remd_title-2{
  margin: 20px 0;
}
section.remd_pl>.pl>ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.remd_pl>.pl>ul>li{
  width: 33%;
  border: 1px solid black;
  margin-bottom: 10px;
}
section.remd_pl>.pl>ul>li>img{
  width:100%;
}
section.remd_song>ol>li{
  border-bottom: 1px solid #E2E2E3;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.remd_song>ol>li>.song-container{
  overflow: hidden;
}
section.remd_song>ol>li>a{

}
section.remd_song>ol>li>.song-container>h3{
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: normal;
}
section.remd_song>ol>li>.song-container>p{
  font-size: 12px;
  color: #888;
}
footer{
  width: 100%;
  margin: 70px 0 30px ;
  text-align: center;
  background: transparent url(//i.loli.net/2017/08/25/599f862b9c98d.png) no-repeat center;
  background-size: cover;
}

footer>a{
  color:#d43c33;
  font-size: 16px;
  margin: 15px 15% 5px;
  padding: 10px 30px;
  display: block;
  border-radius: 30px;
  border: 1px solid #d43c33;
  width:70%;
  
}
footer>div.logosvg{
 overflow: hidden;
 text-align: center;
}
footer>div.logosvg>svg{
  display: inline-block;
  width:230px;
  height: 44px;
  margin: auto;
}
footer>p{
  color: #888;
  font-size: 12px;
  transform: scale(.75)
}

/* layout */
#menu-content::before{
    content:'';
    display: table;
}
#page-1,#page-2,#page-3{
  margin-top: 126px;
  width: 100%;
}
#page-1{
  margin-top: 146px;
}
#page-2,#page-3{
  display: none;
}